
/* HEADER */

header {
    margin: 1%;
    height: 5em;
    background-color: #a56e1f;
}

/* BODY */

body {
    background-color: rgb(238 194 102);
}

/* MAIN */

main {
    display: flex;
    justify-content: center;

    background-image: url("./images/19AF58EE-42AD-4B5C-ACA0-CC5E91F2EBB0_1_201_a.jpeg"); 
    background-size: cover;              
    background-position: center;        
    background-repeat: no-repeat;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 25em;
    width: 25em;
    border-radius: 50%;

    background-image: url("./images/image\ copy\ 2.png"); 
    background-size: cover;              
    background-position: center;        
    background-repeat: no-repeat;

    background-color: rgb(238 194 102); 
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
}

form {
    margin: 4% auto 0;
    font-family: cursive;
    font-weight: bold;
}

input {
    border: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    margin-top: 40%;
    width: 140px;   
    height: 120px;  
    background: #f5c400;     
    cursor: pointer;    

    color: #000;    
    font-weight: bold;  
    font-size: 16px;    

    clip-path: polygon( 
        25% 0%, 
        75% 0%, 
        100% 50%,   
        75% 100%,   
        25% 100%,   
        0% 50%  
);

    transition: transform 0.2s, background 0.2s;
}

button:hover {
    background: #ffda3a;    
    transform: scale(1.05); 
}

button:focus-visible {
    outline: 2px solid #000;    
}


/* FOOTER */

footer {
    margin: 1%;
    height: 5em;
    background-color: #a56e1f;
}