
/* HEADER */

header {
    margin: 1%;
    height: 5em;
    background-color: rgb(87, 34, 90);
}

/* BODY */

body {
    background-color: rgb(15, 5, 44);
}

/* MAIN */

main {
    display: flex;
    justify-content: center;

    background-image: url("/Formulaire/style/images/etoiles_filantes.gif"); 
    background-size: cover;              
    background-position: center;        
    background-repeat: no-repeat;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 30em;
    width: 30em;
    border-radius: 50%;

    background-color: rgb(238, 102, 220);
    background-image: url("/Formulaire/style/images/cercles.gif");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;

    border: 3px solid aqua;
    margin: 1%;
    padding: 1%;
}

form {
    margin: 30% auto 0;
    font-family:fantasy;
    font-weight: bold;
    font-size: larger;
    color:aquamarine;
}

input {
    width: 200px;
    border: 5% aqua;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-33 {
    background-color: #c2e4fb;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(0, 64, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 10%;
}

.button-33:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button:hover {
    background: #3fa2c9;    
    transform: scale(1.05); 
}

button:focus-visible {
    outline: 2px solid #000;    
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 1%;
    height: 5em;
    background-color: rgb(87, 34, 90);

    font-family:fantasy;
    font-weight: bold;
    font-size: larger;
    color:aqua;
}